<main class="p-5">
    <form  [formGroup]="form" class="flex flex-col gap-5 px-5">

        <h2>Criar tarefa:</h2>

        <mat-form-field >
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" >
            @if(form?.get('title')?.hasError('required')){
                <mat-error>Campo obrigatório</mat-error>
            }
        </mat-form-field>
        
        <mat-form-field >
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <section class="flex gap-5">
            <button class="w-1/2 bg-red-700 text-white py-4 rounded-lg"  (click)="closeDialog()">Cancelar</button>
            <button class="w-1/2  bg-black text-white py-4 rounded-lg"  (click)="submitForm()">Criar</button>
        </section>
    </form>
</main>